@font-face {
  font-family: "Block Berthold Condensed";
  src: url("./fonts/block.eot");
  src: url("./fonts/block.eot?#iefix") format("embedded-opentype"),
    url("./fonts/block.woff2") format("woff2"),
    url("./fonts/block.woff") format("woff"),
    url("./fonts//block.ttf") format("truetype"),
    url("./fonts/block.svg#Block Berthold Condensed") format("svg");
}
