@import "../styles/global/colors.scss";
@import "../styles/fonts/load_fonts.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.about {
  font-family: "Montserrat", sans-serif;
  position: relative;
  background-color: $primary;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;

  @media only screen and (max-width: 600px) {
    & {
      padding-bottom: 50px;
      height: 100%;
    }
  }

  header {
    background-color: $text-color;
    color: white;
    text-align: center;
    padding-top: 20px;
    font-size: 24px;

    h1 {
      // letter-spacing: 4px;
    }

    @media only screen and (max-width: 600px) {
      & {
        font-size: 20px;
      }
    }
  }

  img {
    margin-top: -2px;
    width: 100%;
  }

  .about_container {
    margin-top: -20vw;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    @media only screen and (max-width: 600px) {
      & {
        margin-top: 0;
        flex-direction: column;
      }
    }

    .card {
      display: flex;
      flex-direction: column;
      gap: 10px;
      align-items: center;

      @media only screen and (max-width: 600px) {
        & {
          margin-bottom: 40px;
        }
      }

      img {
        width: 250px;
        height: 250px;
        border-radius: 50%;
      }

      h1 {
        font-weight: 400;
        // letter-spacing: 2px;
        text-align: center;
      }

      p {
        // letter-spacing: 2px;
        @media only screen and (max-width: 600px) {
          & {
            width: 70%;
            text-align: center;
          }
        }
      }

      .socials {
        margin-top: 10px;
        display: flex;
        gap: 20px;
        align-items: center;
        font-size: 34px;

        a {
          cursor: pointer;
          color: $text-color;
        }
      }
    }
  }

  .contact {
    text-align: center;
    margin-top: 40px;
    font-size: 22px;
    // letter-spacing: 2px;
    font-weight: 400;

    span {
      font-weight: bold;
    }
  }
}
