@import "../styles/global/colors.scss";

.roadmap {
  background-color: $primary;
  width: 100%;
  height: 100%;
  overflow-x: hidden;

  .header {
    position: relative;
    background-color: $text-color;
    width: 100%;
    color: $primary;
    padding: 40px 40px 20px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
  }

  .aboutUs {
    cursor: pointer;
    grid-column: 1 / 1;
    width: fit-content;
    height: fit-content;
    color: white;
    text-transform: uppercase;
    padding: 15px 30px;
    background-color: $text-color;
    border: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 30px;

    @media only screen and (max-width: 600px) {
      & {
        padding: 15px 20px;
        font-size: 14px;
      }
    }

    transition: all 200ms ease;
    border: 1px solid rgba(white, 0.25);
    position: relative;
    box-shadow: 10px 0px 50px 0px rgba(white, 0.25);

    &:hover {
      border-color: rgba(white, 0.5);
      border-width: 2;
      transform: scale(1.05);
      box-shadow: -5px 2px 50px 2px rgba(white, 0.3);
    }
  }

  h1 {
    color: white;
    text-align: center;
    grid-column: 2 / 2;
    letter-spacing: 1px;
  }

  .langSwitch {
    grid-column: 3 / 3;
    cursor: pointer;
    position: relative;
    top: 0;
    right: 0;
    margin-left: auto;
    width: 80px;
    height: 40px;
    background-color: $primary;
    // outline: 2px solid $primary;
    color: $text-color;
    padding: 5px 15px;
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      position: relative;
      z-index: 10;
      font-size: 14px;
    }

    .circle {
      position: absolute;
      top: 5px;
      left: 6px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: white;
      z-index: 5;
      transition: transform 100ms ease-in-out;

      &.on {
        transform: translateX(calc(100% + 7px));
      }
    }
  }

  img {
    width: 100%;
    margin: -2px 0;
  }
}
